@keyframes zoomOutDown {
	40% {
		opacity: 1;
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	to {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}

.wishlist-product {
	&.hide {
		animation-duration: 200ms;
		animation-fill-mode: both;
		animation-name: zoomOutDown;
	}
}
.wishlist-button-icon {
	//position: relative;
	color: $primary;
    transition: color .1s ease;
    border: 2px solid $primary;
        border-radius: 50%;
	&:hover {
		color: $secondary;
		.solid-icon {
			opacity: 1;
		}
	}
	&.active {
		.solid-icon {
			opacity: 1;
		}
	}
	.solid-icon {
		opacity: 0;
	}
	.solid-icon {
        opacity: 1;
        transition: opacity .2s ease-in;
	}
	.icon {
		position: relative;
        display: inline-block;
        width: 1em;
        height: 1em;
	}
	.outline-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.wishlist-product {
	list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-bottom: 15px!important;
	a.woocommerce-LoopProduct-link {
		display: flex;
		flex-direction: column;

		&:hover {
			text-decoration: none;
		}

		img {
			width: 100%;
			object-fit: contain;
			border: 2px solid #cbcce7;
			padding: 0.6rem;
			border-radius: 10px;
			transition: .3s all ease;
			&:hover {
				border: 2px solid $gray-100;
				box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
			}
		}

		.woocommerce-loop-product__title {
			height: 55px;
			display: flex;
			align-items: center;
			font-size: 1rem;
			color: $primary;
		}

		.onsale {
			display: none;
		}

		.price {
			padding-bottom: 1rem;
			font-size: 1rem;
			font-weight: 500;
			color: $secondary;
			display: flex;
			align-items: baseline;
			justify-content: center;
			.custom-price-percent {
				color: $white;
				background-color: $secondary;
				border-radius: 50%;
				height: 40px;
				width: 40px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 0.8rem;
				position: absolute;
				top: -4%;
				right: -4%;
				@include media-breakpoint-down('sm') {
					font-size: 1rem !important;
					height: 70px;
					width: 70px;
					right: -5%;
				}
				@include media-breakpoint-down('xs') {
					font-size: .9rem !important;
					height: 50px;
					width: 50px;
					right: -2%;
				}
			}
			.woocommerce-Price-amount {
				color: $secondary;
			}
			.custom-product-price-sale {
				color: lighten($color: $primary, $amount: 30%);
				.woocommerce-Price-amount {
					color: lighten($color: $primary, $amount: 30%);
				}
				@include media-breakpoint-down('xs') {
					order: 2;
					padding: 0 .3rem 0 .5rem;
				}
			}

			.price,
			ins {
				text-decoration: none;
				.woocommerce-Price-amount {
					color: $secondary;
					margin-left: .5rem;
				}
				@include media-breakpoint-down('xs') {
					order: 3;
				}
			}
		}

		.container-rating {
			display: none;
		}
	}

	.add_to_cart_button,
	.added_to_cart,
	.product_type_simple {
		margin-bottom: 1rem;
		border: none;
		color: $white;
		background: linear-gradient(to right, $secondary 50%, $primary 50%);
		background-size: 200% 100%;
		text-align: center;
		font-size: 1rem;
		font-weight: 500;
		padding: .8rem;
		border-radius: 3px;
		text-transform: uppercase;
		cursor: pointer;
		background-position: right bottom;
		width: 100%;
		transition: all .4s ease-out;
		&:hover {
			background-position: left bottom;
			background-color: $secondary;
			text-decoration: none;
		}
		@include media-breakpoint-down('lg') {
			font-size: .8rem;
		}
		@include media-breakpoint-down('sm') {
			width: unset;
			padding: .8rem 2rem;
		}
	}
	
	.added_to_cart {
		padding: .6rem;
		margin-top: .5rem;
		@include media-breakpoint-down('sm') {
			padding: .6rem 3rem;
		}
	}
}